---
import Layout from "@/layouts/layout.astro"
---

<Layout title="Home">
  <section>
    <h1 class="text-2xl mb-7">I'm Hewerton, a software engineer</h1>
    <p class="text-gray-600">Navigating the programmer's world.</p>
  </section>
</Layout>