---
import { cn } from '@/lib/utils';
import GithubLink from './github-link';
import { Button, buttonVariants } from './ui/button';

interface Props {
  path: string;
}

const { path } = Astro.props;
---

<section class="w-full flex justify-between">
  <GithubLink />
  <div class="flex items-center">
    <a href="/" 
      class={cn(
        buttonVariants({variant: 'link'}),
        `${path === '/' ? 'text-gray-900' : 'text-gray-400'}`
      )}
    >
      Home
    </a>
    <a href="/blog" 
        class={cn(
          buttonVariants({variant: 'link'}),
          `${path.includes("blog") ? "text-gray-900" : "text-gray-400"} `
        )}
      >
      Blog
    </a>
    <a href="/contact" 
      class={cn(
          buttonVariants({variant: 'link'}),
          `${path.includes("contact") ? "text-gray-900" : "text-gray-400"}`
        )}
    >
      Contact
    </a>
  </div>
</section>