---
import HeaderMenu from '@/components/header-menu.astro';
import '@/styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import '@fontsource/monaspace-neon';

interface Props {
  title: string;
}

const { title } = Astro.props;

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main class="pt-7 px-4 m-auto max-w-5xl">
      <HeaderMenu path={currentPath} />
      <section
        class="pt-24 pb-10 m-auto space-y-12 w-full prose lg:prose-lg prose-sm prose-h1:font-bold"
      >
        <slot />
      </section>
    </main>
  </body>
</html>

<style is:global>
  body {
    font-family: 'Monaspace Neon', monospace;
  }
</style>
